h2{
	font-size:3rem;
}
section.section-gap{
	padding: 60px 0; 
}

.pad_fix{
	padding: 0!important;
}
.mar-top-90{
	margin-top:90px;
}


.repan{
	animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}
/*animation*/
.delay2{
	animation-duration: 3s;
  animation-delay: 0.5s;
 /* animation-iteration-count: infinite;*/
}
.delay3{
	animation-duration: 4s;
  animation-delay: 0.5s;
 /* animation-iteration-count: infinite;*/
}
.delay4{
	animation-duration: 5s;
  animation-delay: 0.5s;
 /* animation-iteration-count: infinite;*/
}

/*navigation*/
.main-nav{
	 background-color: rgba(26, 40, 87, 0.9);
    color: rgb(0, 0, 0);
}
.fixed-nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    background-color: rgba(26, 40, 87, 0.9);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 0;
    z-index: 2;
}
a.nav-link{
	color:#fff !important;
}

.btn.btn-warning.btn-menu{
	background:#e8cc00;
}

li.nav-item{
	padding: 10px 5px;
}

a.btn-menu.text-black{color:#000 !important; text-transform: uppercase;}
/*slider */

.carousel-caption{
	margin-bottom: 200px;
}
.carousel-inner img{
	opacity: 20;
}

/* our cause */

section.our_causes{
	background:#f4f4f4;
}

section.our_causes h6{
	color: #005BAA;
}

.overlay-box {
    position: relative;
    width: 100%;
}

.over-image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.overlay-box:hover .over-image {
  opacity: 0.3;
}

.overlay-box:hover .middle {
  opacity: 1;
}

.text a {
  color: #000;
  font-size: 20px;
  font-weight: bold;
  padding: 2px;
  text-decoration: none;
}
/*help for cause*/

section.help_for_cause h2{
	
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;

}

section.help_for_cause{
	background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("../images/help.jpg");
	height: 400px; 
	  background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

section.help_for_cause .figures_causes h2{
	color: #5DC269;
	font-weight: bold;
}
section.help_for_cause .figures_causes p{
	color: #fff;
	font-weight: bold;
}


/*announcement*/
section.announcement{
background:#F4F4F4;
}



/*advertisement*/


section.advertisement{
	padding: 30px 0; 
}

section.advertisement h5{
	font-weight: bold;
}




/*social feeds*/

.box_social{
	background: #fff;
	min-height: 390px;
	-webkit-box-shadow: 0px 0px 20px 5px rgba(212,212,212,1);
-moz-box-shadow: 0px 0px 20px 5px rgba(212,212,212,1);
box-shadow: 0px 0px 20px 5px rgba(212,212,212,1);
padding: 5px 0;
}

.wrap_social_header{
	border-bottom: 3px solid #FFC107;
	padding: 10px;
}
.wrap_social_header span{
font-size:1.45em;
font-weight: bold;
color:#005BAA;
}

a.read_more{
	color:#8DC63F;
}

.social_feed h2, .poll_featured h2, section.announcement h2, section.our_causes h2, section.our_mission h2{
	margin-bottom:45px;
	text-transform: uppercase;
	font-weight: bold;
	color: #005BAA;
}

.social_feed .multi_wrap{
	margin-top: 20px;
}


.social_feed h2::after, section.announcement h2::after{
width: 120px;
height: 6px;
position: absolute;
bottom: 20px;
left: 50%;
   
    content: "";
    background-color: rgb(232, 204, 0);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

/* poll featured */


.poll_featured .green_box h2{
	color:#fff;
}


.poll_featured h2::after{
width: 80px;

height: 6px;

position: absolute;

top: 80px;

left: 70px;   
    content: "";
   
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.poll_featured .white_box h2::after{
	background:#8DC63F;
}
.poll_featured .green_box h2::after{
	
	background: #FFC107;
}
.white_box h5{
	color:#000;
	font-weight: bold;
}
ul.poll_options{
	padding: 0;

}
ul.poll_options li{
	list-style: none;
	color: #888 !important;
}

.poll_featured{
	/*background:url('../images/poll_featured.jpg');
	min-height: 715px;
	width: 100%;
	background-size:cover;
	background-repeat: no-repeat;*/
background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("../images/poll_featured.jpg");
	height: 600px; 
	  background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;




}

.poll_featured .green_box{
	padding: 30px;
    background-color: rgba(141, 198, 63, 0.9);
    color: rgb(255, 255, 255);
    box-shadow: 7px 5px 40px 10px rgba(0, 0, 0, 0.1);
    margin:10px;

}


.poll_featured .white_box{
	padding: 30px;
	margin:10px;
    background-color: rgba(255, 255, 255, 0.9);
   /*color: rgb(255, 255, 255);*/
    box-shadow: 7px 5px 40px 10px rgba(0, 0, 0, 0.1);

}

.inner_green_box img{
	border: 1px solid #666;
border-radius: 50%;
padding: 5px;
}

.inner_green_box .text_wrap{
	padding:30px 15px;
}

.inner_green_box .text_wrap::after{
width: 48px;
height: 50px;
position: absolute;
top: 0;
right: -75px;
content: "";
background-image: url('../images/icon-medal.svg');
background-size: contain;
background-repeat: no-repeat;
}

/*footer*/

footer{
	background: #282828;
	color:#fff;
}

ul.footer-link, ul.social_links{
	padding: 0;
	display: inline;
}
ul.footer-link li, ul.social_links li{
	display: inline;
	list-style: none;
}
.news_letter_part{
	background: #E8CC00;

}
.copyright{
	padding:20px 0;
}

footer hr{
 display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #747474;
    margin: 30px 0 0 0;
    padding: 0; 

}

ul.footer-link li a{
	color:#E8CC00;
	text-decoration: none;
	padding: 30px 10px;
}
.privacy_links a{
	color:#fff;
	text-decoration: none;
}
.privacy_links a:hover{
	color:#E8CC00;
}
.pad_tp_25{
	padding-top: 25px;
}
h5.foot_title{
	margin-top:20px;
}

.news_letter_part{
	padding: 10px 0;
}
.news_letter_part h5{
	color:#005BAA;
	text-transform: uppercase;
	margin: 7.5px 0;
	font-weight: bold;
}
 button.btn.btn-success.btn-main{
	background: #8DC63F;
	text-transform: uppercase;
	border:1px solid #8DC63F;
	/*padding: 20px;*/
}

button.btn.btn-success.btn-main.btn-big{
	padding: 20px;
}
button.btn.btn-success.btn-main:hover{
	background: #28a745;
	text-transform: uppercase;
	border:1px solid #28a745;

}